 /*-----footer--start---*/

 .footer{
    padding: 70px 0px 70px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #1a1a1a; 
    color: #ffffff;
    overflow: hidden;
}
.footer .footer-end {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
}
.footer .footer-end ul{
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
.footer .footer-end ul li{
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    color:gray;
}
.footer .footer-end ul li h4{
font-weight: 800;
color: orange;
}
.footer .footer-end ul li h5{
    font-weight: 700;
    color: orange;
    }
.footer .footer-end ul li h4 img{
width: 35px;
}
.footer .footer-end ul li a{
text-decoration: none;
color:gray;
}
.footer .footer-end ul li ul{
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.footer .footer-end ul li ul li{
    list-style-type: none;
}
.footer .footer-end ul li ul li h5{
    font-weight: 700;
    color: orange;
}
.footer .footer-end ul li ul li a{
    text-decoration: none;
    color:gray;
}